/* Upper row */
#statusAlarmTime {
  display: none;
  text-length: 7;
}
#statusAlarmImg {
  display: none;
}
#status {
}

/* Middle row */
#clock {
  text-length: 7;
}

/* Lower row */
#alarmImg {
}
#alarmTime {
  text-length: 7;
}

/* BUTTONS */
#trackingBtns {
}
#alarmBtns {
}

#panic-counter-0,
#panic-counter-1,
#panic-counter-2,
#panic-counter-3,
#panic-counter-4,
#panic-counter-5,
#panic-counter-6 {
 display: none;
}
