.application-fill { fill: #9bb548; }
.app-gradient-background { fill: #9bb548; }
.alarm-gradient-background { fill: #008080; }
.foreground-fill { fill: fb-white; }
.background-fill { fill: fb-black; }

/* Upper row */
#statusAlarmTime {
  display: none;
  text-length: 7;
}
#statusAlarmImg {
  display: none;
}
#status {
}

/* Middle row */
#clock {
  text-length: 7;
}

/* Lower row */
#alarmImg {
}
#alarmTime {
  text-length: 7;
}

.tracking-btn #image {
  href: "pause.png";
}

/* BUTTONS */
#trackingBtn {
  x: 100%-100;
  y: 100%-100;
}

#btn-yes #text {
  text-buffer: "Yes";
}

#btn-no #text {
  text-buffer: "No";
}

#alarm-btn-snooze #text {
  text-buffer: "Snooze";
}

#alarm-btn-dismiss #text {
  text-buffer: "Dismiss";
}

